<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/sidebar.css">

    <title><%= title %></title>
</head>


<aside class="sidebar-right">
    <h3>Change layout</h3>
    <a href="/collection">Table</a>
    <br><a href="/grid">Grid</a>
</aside>