<%- include ./partials/header %>

<div class="container">
    <h3>Unsplash</h3>
    <p>The Unsplash API is a modern JSON API that surfaces all of the info you'll need to build any experience for your
        users. 
        <br>It's so simple to use that we even run <a href="https://unsplash.com">Unsplash.com</a> on it!
    </p>
    <div class="api-tools__container">
        <div class="api-tools__item">
            <div class="api-tools__content-top">
                <h5 class="delta text-weight--medium">Mobile SDKs</h5>
                <p>Everything you need to search, fetch, and insert beautiful Unsplash images directly into your
                    application with a fully native UI.</p>
                <p>Available on <a href="https://github.com/unsplash/unsplash-photopicker-android">Android</a> and <a
                        href="https://github.com/unsplash/unsplash-photopicker-ios">iOS</a>.</p>
            </div>
            <img src="https://unsplash.com/assets/api/api-tools-sdks-5cccf9d3385d9ac74a780be15d184078503d34e98b59e00ce3143ee3bdfd3f2f.svg"
                class="api-tools__img api-tools__img--sdks" alt="Mobile SDKs illustration">
        </div>
        <div class="api-tools__item">
            <div class="api-tools__content-top">
                <h5 class="delta text-weight--medium">Dynamically resizable images</h5>
                <p>Every image URL returned by the API can easily be manipulated to dynamically adjust the dimensions,
                    crop, and quality of the image in realtime.</p>
            </div>
            <div class="api-tools__content-cta">
                <a href="https://unsplash.com/documentation#dynamically-resizable-images" class="link--no-underline"
                    target="_blank">Learn more →</a>
            </div>
            <img src="https://unsplash.com/assets/api/api-tools-crop-20e4f0b5900e54bcdab23e2fd9842fe2d430948684b0578e6664857c718f9fbd.svg"
                class="api-tools__img api-tools__img--crop" alt="Photo cropping and resizing illustration">
        </div>
        <div class="api-tools__item">
            <div class="api-tools__content-top">
                <h5 class="delta text-weight--medium">Libraries in your language</h5>
                <p>We maintain official libraries in JavaScript, PHP, and Ruby. Our community have also built popular
                    libraries in Go, Python, Swift, and more.</p>
            </div>
            <div class="api-tools__content-cta">
                <a href="https://github.com/unsplash" class="link--no-underline" target="_blank">View on GitHub →</a>
            </div>
            <img src="https://unsplash.com/assets/api/api-tools-libs-0d6191ee72bf7b26b92e8951e8e06493efaa7c70e111da54260815661507a699.svg"
                class="api-tools__img" alt="JavaScript, php and Ruby on Rails libraries illustration">
        </div>
        <div class="api-tools__item">
            <div class="api-tools__content-top">
                <h5 class="delta text-weight--medium">Integrated into your tools</h5>
                <p>Unsplash is already integrated natively inside tools like Sketch, Figma, Framer and Codepen, so
                    wherever you build, we’re there.</p>
            </div>
            <img src="https://unsplash.com/assets/api/api-tools-apps-b9b4d93b789346f0785392293d7c82b89b63164c51dcb09385e23989adea00e7.svg"
                class="api-tools__img api-tools__img--apps" alt="Figma, Framer, Codepen and Sketch illustration">
        </div>
    </div>
</div>